<h1> Contents </h1>
ID:<%= @pdf.merge_id %>
Name: <%= @pdf.file_name %>
Fle: <%= @file %>


 raise
<div id="pdf">
  <object width="400" height="500" type="application/pdf" src="/<%= @file %>?#zoom=85&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content">
    <p>Insert your error message here, if the PDF cannot be displayed.</p>
  </object>
</div>
